name: pr_validation

on:
  push:
    branches:
      - master
      - dev
      - main
  pull_request:
    branches:
      - master
      - dev
      - main

jobs:
  test:
    name: Test-${{matrix.os}}
    runs-on: ${{matrix.os}}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - name: "Checkout"
        uses: actions/checkout@v3.0.2
        with:
          lfs: true
          fetch-depth: 0

      - name: "Install .NET SDK"
        uses: actions/setup-dotnet@v2.1.0
        with:
          dotnet-version: |
            6.0.x
          global-json-file: "./global.json"

      - name: "dotnet build"
        run: dotnet build -c Release

      - name: "dotnet test"
        run: dotnet test -c Release